@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@using GameShop.ViewModels
@model VerifyEmailViewModel

<div class="account-container">
    <div class="account-box">
        <h1 class="display-4">Verify Email</h1>
        <form asp-action="VerifyEmail" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>                    
            <input type="submit" value="Verify" class="btn btn-dark w-100 p-2" />            
            <div class="text-center mt-2">
                <a asp-controller="Home" asp-action="Index" class="link-dark link-underline-dark">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}

