@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    <h1>Games Shop</h1>
    <div style="height:300px"></div>
    <a class="buttonZd buttonZd1" asp-controller="Game" asp-action="AllGames">All Games</a>
    <a class="buttonZd buttonZd1" asp-controller="Game" asp-action="AddGame">Add New Game</a>
    
</div>

